<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
		/>
		<meta name="description" content="Talk - A free video call app for the web." />
		<meta
			name="keywords"
			content="group video chat, video communication, multiparty video chat, video chat, webrtc, peer to peer, p2p"
		/>
		<meta name="application-name" content="Talk" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" href="/favicon.svg" />
		<link rel="stylesheet" href="/style.css" />
		<script defer src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
		<script defer src="/socket.io/socket.io.js"></script>
		<script defer src="vue.min.js"></script>
		<script defer src="app.js"></script>
		<script defer src="script.js"></script>
		<title>Talk - Free group video call app for the web</title>
		<script async defer src="https://stats.usetalk.io/hello.js"></script>
	</head>

	<body>
		<section id="videos"></section>
		<main id="app" v-bind:style="'display:block'">
			<div id="intro" v-if="showIntro && !showChat && !showSettings">
				<p>
					<strong>Talk</strong> is a free & open-source video conference app for the web. <br />Works in all major
					browsers. No signups. No downloads. 100% peer-to-peer.
				</p>
				<p>
					<i><small>Share the URL of this page with your friends to start talking.</small></i>
				</p>
				<p>
					<a
						href="https://www.producthunt.com/posts/talk-3?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-talk-3"
						target="_blank"
						><img
							src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=293687&theme=light"
							alt="Talk - A free & open-source group video call thats works in browser | Product Hunt"
							style="width: 250px; height: 54px;"
							width="250"
							height="54"
					/></a>
				</p>
				<div class="footer">
					<iframe
						src="https://ghbtns.com/github-btn.html?user=vasanthv&repo=talk&type=star&count=true"
						frameborder="0"
						scrolling="0"
						width="150"
						height="20"
						title="GitHub"
					></iframe>
					<a href="/legal.html" class="terms light"><small>Terms</small></a>
				</div>
			</div>

			<div id="chatWrap" v-if="showChat">
				<div id="chats">
					<div class="chat" v-for="(chat, i) in chats" v-bind:key="i">
						<span class="name">{{chat.name}}</span>
						<span class="date light"> &middot; {{formatDate(chat.date)}}</span>
						<div class="message">{{chat.message}}</div>
					</div>
					<div id="noChat" class="light" v-if="!chats.length"><small>No chat messages.</small></div>
				</div>
				<div id="composeBox">
					<div id="placeholder" v-if="typing.length <= 0">Type message...</div>
					<div
						id="compose"
						contenteditable="true"
						v-on:keydown.enter="sendChat"
						v-on:input="edit($event)"
						v-on:paste="paste($event)"
					></div>
				</div>
				<small class="light">Press enter to submit</small>
			</div>

			<div id="settings" v-if="showSettings">
				<div class="label">Camera 📹</div>
				<div v-for="(videoDevice, i) in videoDevices" v-bind:key="videoDevice.deviceId">
					<div
						v-bind:class="'link '+(selectedVideoDeviceId === videoDevice.deviceId ? 'active' : '')"
						v-on:click="changeCamera(videoDevice.deviceId)"
					>
						{{videoDevice.label}}
					</div>
				</div>

				<div class="label">Microphone 🎙️</div>
				<div v-for="(audioDevice, i) in audioDevices" v-bind:key="audioDevice.deviceId">
					<div
						v-bind:class="'link '+(selectedAudioDeviceId === audioDevice.deviceId ? 'active' : '')"
						v-on:click="changeMicrophone(audioDevice.deviceId)"
					>
						{{audioDevice.label}}
					</div>
				</div>

				<div class="label">Name 📛</div>
				<input type="text" placeholder="Your name" v-model="name" v-on:keyup="nameToLocalStorage" />
			</div>

			<div id="actionsWrap">
				<div id="actions">
					<button v-bind:class="'icon-mic'+(audioEnabled ? '' : '-off')" v-on:click="audioToggle"></button>
					<button v-bind:class="'icon-video'+(videoEnabled ? '' : '-off')" v-on:click="videoToggle"></button>
					<button
						v-bind:class="'icon-message-square '+(showChat ? 'active' : '')"
						v-on:click="showChat = !showChat"
					></button>
					<button
						v-bind:class="'icon-monitor '+(screenshareEnabled ? 'active' : '')"
						v-on:click="screenShareToggle"
					></button>
					<button
						v-bind:class="'icon-more-horizontal '+(showSettings ? 'active' : '')"
						v-on:click="showSettings = !showSettings"
					></button>
					<!-- <button id="swapcamerabtn" class="fas fa-sync-alt"></button> -->
				</div>
			</div>
		</main>
	</body>
</html>
