@import "icomoon/style.css";

* {
	outline: none;
}
html,
body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
		sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
}

.video {
	float: left;
	width: 25vw;
	height: 50vh;
	overflow: hidden;
	position: relative;
}
.video.one {
	width: 100vw;
	height: 100vh;
}
.video.two {
	width: 50vw;
	height: 100vh;
}
.video.three {
	width: 33.33vw;
	height: 100vh;
}
.video.four {
	width: 50vw;
	height: 50vh;
}
.video.six {
	width: 33.33vw;
	height: 50vh;
}
.video video {
	max-width: 100%;
	height: 100%;
	display: block;
	margin: auto;
}
.video video:fullscreen {
	object-fit: contain;
}
.video video.mirror {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.icon-mic-off,
.icon-video-off {
	color: #e74c3c !important;
}

#intro {
	background: #fff;
	position: fixed;
	bottom: 6rem;
	left: 0px;
	right: 0px;
	z-index: 100;
	width: 18rem;
	margin: auto;
	padding: 1rem 2rem;
	box-sizing: border-box;
	border-radius: 1rem;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.16);
}
#settings {
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.16);
	position: fixed;
	bottom: 5rem;
	left: 0px;
	right: 0px;
	z-index: 100;
	width: 15rem;
	margin: auto;
	box-sizing: border-box;
	border-radius: 1rem;
}
#settings .label {
	padding: 1rem 1rem 0.25rem;
	font-weight: bold;
}
#settings .link {
	padding: 0.25rem 1rem;
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	border-radius: 1rem;
}
#settings .link.active:before {
	content: "✔️";
	margin-right: 0.5rem;
}
#settings .link:hover {
	background: #fff;
}

#actionsWrap {
	position: fixed;
	bottom: 1rem;
	left: 0px;
	right: 0px;
	z-index: 100;
	display: inline-flex;
}
#actions {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16), 0px 1px 4px rgba(0, 0, 0, 0.16);
	margin: auto;
	box-sizing: border-box;
	border-radius: 1rem;
	transition: opacity 250ms;
}

#actions button {
	flex: 1;
	background: none;
	border: none;
	font-size: 1.25rem;
	padding: 1rem;
	cursor: pointer;
	margin: auto;
}
#actions button:hover,
#actions button.active {
	background: #fafafa;
	border-radius: 1rem;
}

@media only screen and (max-width: 960px) {
	.video {
		float: left;
		width: 50vw;
		height: 25vh;
		overflow: hidden;
	}
	.video.two {
		width: 100vw;
		height: 50vh;
	}
	.video.three {
		width: 100vw;
		height: 33.33vh;
	}
	.video.six {
		width: 50vw;
		height: 33.33vh;
	}
}
