* {
	outline: none;
}
html,
body {
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
		Cantarell, "Helvetica Neue", sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fff;
}
video {
	width: 100%;
	height: auto;
	height: 100%;
	object-fit: cover;
}
video:fullscreen {
	object-fit: contain;
}
.video {
	float: left;
	width: 25vw;
	height: 50vh;
	overflow: hidden;
	position: relative;
}
.video.one {
	width: 100vw;
	height: 100vh;
}
.video.two {
	width: 50vw;
	height: 100vh;
}
.video.three {
	width: 33.33vw;
	height: 100vh;
}
.video.four {
	width: 50vw;
	height: 50vh;
}
.video.six {
	width: 33.33vw;
	height: 50vh;
}
#myVideo.mirror {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.fa-microphone-slash,
.fa-video-slash {
	color: #e74c3c !important;
}

#allowaccess,
#message {
	background: #fff;
	position: fixed;
	bottom: 6rem;
	left: 0px;
	right: 0px;
	z-index: 100;
	width: 21rem;
	margin: auto;
	padding: 1rem 2rem;
	box-sizing: border-box;
	border-radius: 1rem;
	font-style: italic;
	opacity: 0;
	transition: opacity 250ms;
	transition-delay: 250ms;
}
#allowaccess {
	text-align: center;
	opacity: 1;
}

#buttons {
	background: rgba(255, 255, 255, 0.8);
	opacity: 0;
	position: fixed;
	bottom: 1rem;
	left: 0px;
	right: 0px;
	z-index: 100;
	width: 21rem;
	margin: auto;
	padding: 1rem 2rem;
	box-sizing: border-box;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
	transition: opacity 250ms;
}

#buttons button {
	background: none;
	border: none;
}

#mutebtn,
#videomutebtn,
#swapcamerabtn,
#screensharebtn {
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 960px) {
	.video {
		float: left;
		width: 50vw;
		height: 25vh;
		overflow: hidden;
	}
	.video.two {
		width: 100vw;
		height: 50vh;
	}
	.video.three {
		width: 100vw;
		height: 33.33vh;
	}
	.video.six {
		width: 50vw;
		height: 33.33vh;
	}
}
